--
-- PostgreSQL database dump
--

-- Dumped from database version 16.4 (Debian 16.4-1.pgdg110+2)
-- Dumped by pg_dump version 16.4 (Debian 16.4-1.pgdg110+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: postgis; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis WITH SCHEMA public;


--
-- Name: EXTENSION postgis; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis IS 'PostGIS geometry and geography spatial types and functions';


SET default_tablespace = '';

--
-- Name: dat_calles; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.dat_calles (
    id_calles integer NOT NULL,
    cve_entidades integer DEFAULT 0 NOT NULL,
    cve_municipios integer DEFAULT 0 NOT NULL,
    cve_localidades integer DEFAULT 0 NOT NULL,
    calle_avenida_principal text DEFAULT '-'::text NOT NULL,
    calle_avenida_primaria text DEFAULT '-'::text NOT NULL,
    calle_avenida_secundaria text DEFAULT '-'::text NOT NULL,
    calle_avenida_posterior text DEFAULT '-'::text NOT NULL,
    num_exterior character varying(200) DEFAULT '-'::character varying NOT NULL,
    manzana_lote character varying(200) DEFAULT '-'::character varying NOT NULL,
    colonia character varying(200) DEFAULT '-'::character varying NOT NULL,
    codigo_postal character varying(200) DEFAULT '-'::character varying NOT NULL,
    latitud double precision DEFAULT 0 NOT NULL,
    longitud double precision DEFAULT 0 NOT NULL,
    fechahora_utc_modificacion timestamp without time zone DEFAULT (now() AT TIME ZONE 'UTC'::text) NOT NULL,
    llave_denue character varying(50) DEFAULT '-'::character varying NOT NULL,
    geom public.geometry(Point,4326)
)
PARTITION BY RANGE (cve_entidades);


ALTER TABLE public.dat_calles OWNER TO admin;

SET default_table_access_method = heap;

--
-- Name: dat_calles_p1; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.dat_calles_p1 (
    id_calles integer NOT NULL,
    cve_entidades integer DEFAULT 0 NOT NULL,
    cve_municipios integer DEFAULT 0 NOT NULL,
    cve_localidades integer DEFAULT 0 NOT NULL,
    calle_avenida_principal text DEFAULT '-'::text NOT NULL,
    calle_avenida_primaria text DEFAULT '-'::text NOT NULL,
    calle_avenida_secundaria text DEFAULT '-'::text NOT NULL,
    calle_avenida_posterior text DEFAULT '-'::text NOT NULL,
    num_exterior character varying(200) DEFAULT '-'::character varying NOT NULL,
    manzana_lote character varying(200) DEFAULT '-'::character varying NOT NULL,
    colonia character varying(200) DEFAULT '-'::character varying NOT NULL,
    codigo_postal character varying(200) DEFAULT '-'::character varying NOT NULL,
    latitud double precision DEFAULT 0 NOT NULL,
    longitud double precision DEFAULT 0 NOT NULL,
    fechahora_utc_modificacion timestamp without time zone DEFAULT (now() AT TIME ZONE 'UTC'::text) NOT NULL,
    llave_denue character varying(50) DEFAULT '-'::character varying NOT NULL,
    geom public.geometry(Point,4326)
);


ALTER TABLE public.dat_calles_p1 OWNER TO admin;

--
-- Name: dat_calles_p2; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.dat_calles_p2 (
    id_calles integer NOT NULL,
    cve_entidades integer DEFAULT 0 NOT NULL,
    cve_municipios integer DEFAULT 0 NOT NULL,
    cve_localidades integer DEFAULT 0 NOT NULL,
    calle_avenida_principal text DEFAULT '-'::text NOT NULL,
    calle_avenida_primaria text DEFAULT '-'::text NOT NULL,
    calle_avenida_secundaria text DEFAULT '-'::text NOT NULL,
    calle_avenida_posterior text DEFAULT '-'::text NOT NULL,
    num_exterior character varying(200) DEFAULT '-'::character varying NOT NULL,
    manzana_lote character varying(200) DEFAULT '-'::character varying NOT NULL,
    colonia character varying(200) DEFAULT '-'::character varying NOT NULL,
    codigo_postal character varying(200) DEFAULT '-'::character varying NOT NULL,
    latitud double precision DEFAULT 0 NOT NULL,
    longitud double precision DEFAULT 0 NOT NULL,
    fechahora_utc_modificacion timestamp without time zone DEFAULT (now() AT TIME ZONE 'UTC'::text) NOT NULL,
    llave_denue character varying(50) DEFAULT '-'::character varying NOT NULL,
    geom public.geometry(Point,4326)
);


ALTER TABLE public.dat_calles_p2 OWNER TO admin;

--
-- Name: dat_calles_p3; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.dat_calles_p3 (
    id_calles integer NOT NULL,
    cve_entidades integer DEFAULT 0 NOT NULL,
    cve_municipios integer DEFAULT 0 NOT NULL,
    cve_localidades integer DEFAULT 0 NOT NULL,
    calle_avenida_principal text DEFAULT '-'::text NOT NULL,
    calle_avenida_primaria text DEFAULT '-'::text NOT NULL,
    calle_avenida_secundaria text DEFAULT '-'::text NOT NULL,
    calle_avenida_posterior text DEFAULT '-'::text NOT NULL,
    num_exterior character varying(200) DEFAULT '-'::character varying NOT NULL,
    manzana_lote character varying(200) DEFAULT '-'::character varying NOT NULL,
    colonia character varying(200) DEFAULT '-'::character varying NOT NULL,
    codigo_postal character varying(200) DEFAULT '-'::character varying NOT NULL,
    latitud double precision DEFAULT 0 NOT NULL,
    longitud double precision DEFAULT 0 NOT NULL,
    fechahora_utc_modificacion timestamp without time zone DEFAULT (now() AT TIME ZONE 'UTC'::text) NOT NULL,
    llave_denue character varying(50) DEFAULT '-'::character varying NOT NULL,
    geom public.geometry(Point,4326)
);


ALTER TABLE public.dat_calles_p3 OWNER TO admin;

--
-- Name: dat_calles_p4; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.dat_calles_p4 (
    id_calles integer NOT NULL,
    cve_entidades integer DEFAULT 0 NOT NULL,
    cve_municipios integer DEFAULT 0 NOT NULL,
    cve_localidades integer DEFAULT 0 NOT NULL,
    calle_avenida_principal text DEFAULT '-'::text NOT NULL,
    calle_avenida_primaria text DEFAULT '-'::text NOT NULL,
    calle_avenida_secundaria text DEFAULT '-'::text NOT NULL,
    calle_avenida_posterior text DEFAULT '-'::text NOT NULL,
    num_exterior character varying(200) DEFAULT '-'::character varying NOT NULL,
    manzana_lote character varying(200) DEFAULT '-'::character varying NOT NULL,
    colonia character varying(200) DEFAULT '-'::character varying NOT NULL,
    codigo_postal character varying(200) DEFAULT '-'::character varying NOT NULL,
    latitud double precision DEFAULT 0 NOT NULL,
    longitud double precision DEFAULT 0 NOT NULL,
    fechahora_utc_modificacion timestamp without time zone DEFAULT (now() AT TIME ZONE 'UTC'::text) NOT NULL,
    llave_denue character varying(50) DEFAULT '-'::character varying NOT NULL,
    geom public.geometry(Point,4326)
);


ALTER TABLE public.dat_calles_p4 OWNER TO admin;

--
-- Name: dat_calles_p5; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.dat_calles_p5 (
    id_calles integer NOT NULL,
    cve_entidades integer DEFAULT 0 NOT NULL,
    cve_municipios integer DEFAULT 0 NOT NULL,
    cve_localidades integer DEFAULT 0 NOT NULL,
    calle_avenida_principal text DEFAULT '-'::text NOT NULL,
    calle_avenida_primaria text DEFAULT '-'::text NOT NULL,
    calle_avenida_secundaria text DEFAULT '-'::text NOT NULL,
    calle_avenida_posterior text DEFAULT '-'::text NOT NULL,
    num_exterior character varying(200) DEFAULT '-'::character varying NOT NULL,
    manzana_lote character varying(200) DEFAULT '-'::character varying NOT NULL,
    colonia character varying(200) DEFAULT '-'::character varying NOT NULL,
    codigo_postal character varying(200) DEFAULT '-'::character varying NOT NULL,
    latitud double precision DEFAULT 0 NOT NULL,
    longitud double precision DEFAULT 0 NOT NULL,
    fechahora_utc_modificacion timestamp without time zone DEFAULT (now() AT TIME ZONE 'UTC'::text) NOT NULL,
    llave_denue character varying(50) DEFAULT '-'::character varying NOT NULL,
    geom public.geometry(Point,4326)
);


ALTER TABLE public.dat_calles_p5 OWNER TO admin;

--
-- Name: dat_calles_p6; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.dat_calles_p6 (
    id_calles integer NOT NULL,
    cve_entidades integer DEFAULT 0 NOT NULL,
    cve_municipios integer DEFAULT 0 NOT NULL,
    cve_localidades integer DEFAULT 0 NOT NULL,
    calle_avenida_principal text DEFAULT '-'::text NOT NULL,
    calle_avenida_primaria text DEFAULT '-'::text NOT NULL,
    calle_avenida_secundaria text DEFAULT '-'::text NOT NULL,
    calle_avenida_posterior text DEFAULT '-'::text NOT NULL,
    num_exterior character varying(200) DEFAULT '-'::character varying NOT NULL,
    manzana_lote character varying(200) DEFAULT '-'::character varying NOT NULL,
    colonia character varying(200) DEFAULT '-'::character varying NOT NULL,
    codigo_postal character varying(200) DEFAULT '-'::character varying NOT NULL,
    latitud double precision DEFAULT 0 NOT NULL,
    longitud double precision DEFAULT 0 NOT NULL,
    fechahora_utc_modificacion timestamp without time zone DEFAULT (now() AT TIME ZONE 'UTC'::text) NOT NULL,
    llave_denue character varying(50) DEFAULT '-'::character varying NOT NULL,
    geom public.geometry(Point,4326)
);


ALTER TABLE public.dat_calles_p6 OWNER TO admin;

--
-- Name: dat_calles_p7; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.dat_calles_p7 (
    id_calles integer NOT NULL,
    cve_entidades integer DEFAULT 0 NOT NULL,
    cve_municipios integer DEFAULT 0 NOT NULL,
    cve_localidades integer DEFAULT 0 NOT NULL,
    calle_avenida_principal text DEFAULT '-'::text NOT NULL,
    calle_avenida_primaria text DEFAULT '-'::text NOT NULL,
    calle_avenida_secundaria text DEFAULT '-'::text NOT NULL,
    calle_avenida_posterior text DEFAULT '-'::text NOT NULL,
    num_exterior character varying(200) DEFAULT '-'::character varying NOT NULL,
    manzana_lote character varying(200) DEFAULT '-'::character varying NOT NULL,
    colonia character varying(200) DEFAULT '-'::character varying NOT NULL,
    codigo_postal character varying(200) DEFAULT '-'::character varying NOT NULL,
    latitud double precision DEFAULT 0 NOT NULL,
    longitud double precision DEFAULT 0 NOT NULL,
    fechahora_utc_modificacion timestamp without time zone DEFAULT (now() AT TIME ZONE 'UTC'::text) NOT NULL,
    llave_denue character varying(50) DEFAULT '-'::character varying NOT NULL,
    geom public.geometry(Point,4326)
);


ALTER TABLE public.dat_calles_p7 OWNER TO admin;

--
-- Name: dat_calles_p8; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.dat_calles_p8 (
    id_calles integer NOT NULL,
    cve_entidades integer DEFAULT 0 NOT NULL,
    cve_municipios integer DEFAULT 0 NOT NULL,
    cve_localidades integer DEFAULT 0 NOT NULL,
    calle_avenida_principal text DEFAULT '-'::text NOT NULL,
    calle_avenida_primaria text DEFAULT '-'::text NOT NULL,
    calle_avenida_secundaria text DEFAULT '-'::text NOT NULL,
    calle_avenida_posterior text DEFAULT '-'::text NOT NULL,
    num_exterior character varying(200) DEFAULT '-'::character varying NOT NULL,
    manzana_lote character varying(200) DEFAULT '-'::character varying NOT NULL,
    colonia character varying(200) DEFAULT '-'::character varying NOT NULL,
    codigo_postal character varying(200) DEFAULT '-'::character varying NOT NULL,
    latitud double precision DEFAULT 0 NOT NULL,
    longitud double precision DEFAULT 0 NOT NULL,
    fechahora_utc_modificacion timestamp without time zone DEFAULT (now() AT TIME ZONE 'UTC'::text) NOT NULL,
    llave_denue character varying(50) DEFAULT '-'::character varying NOT NULL,
    geom public.geometry(Point,4326)
);


ALTER TABLE public.dat_calles_p8 OWNER TO admin;

--
-- Name: dat_entidades; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.dat_entidades (
    id_entidades integer NOT NULL,
    cve_entidades integer DEFAULT 0 NOT NULL,
    entidad character varying(50) DEFAULT '-'::character varying NOT NULL,
    entidad_abr character(10) DEFAULT '-'::bpchar NOT NULL,
    capital character varying(50) DEFAULT '-'::character varying NOT NULL,
    latitud double precision DEFAULT 0 NOT NULL,
    longitud double precision DEFAULT 0 NOT NULL,
    fecha_utc_modificacion timestamp without time zone DEFAULT (now() AT TIME ZONE 'UTC'::text) NOT NULL
);


ALTER TABLE public.dat_entidades OWNER TO admin;

--
-- Name: dat_entidades_id_entidades_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.dat_entidades ALTER COLUMN id_entidades ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.dat_entidades_id_entidades_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: dat_localidades; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.dat_localidades (
    id_localidades integer NOT NULL,
    cve_entidades integer DEFAULT 0 NOT NULL,
    cve_municipios integer DEFAULT 0 NOT NULL,
    cve_localidades integer DEFAULT 0 NOT NULL,
    localidad character varying(100) DEFAULT '-'::character varying NOT NULL,
    latitud double precision DEFAULT 0 NOT NULL,
    longitud double precision DEFAULT 0 NOT NULL,
    fecha_utc_modificacion timestamp without time zone DEFAULT (now() AT TIME ZONE 'UTC'::text) NOT NULL
);


ALTER TABLE public.dat_localidades OWNER TO admin;

--
-- Name: dat_localidades_id_localidades_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.dat_localidades ALTER COLUMN id_localidades ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.dat_localidades_id_localidades_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: dat_municipios; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.dat_municipios (
    id_municipios integer NOT NULL,
    cve_entidades integer DEFAULT 0 NOT NULL,
    cve_municipios integer DEFAULT 0 NOT NULL,
    municipio character varying(100) DEFAULT '-'::character varying NOT NULL,
    municipio_abr character varying(100) DEFAULT '-'::character varying NOT NULL,
    latitud double precision DEFAULT 0 NOT NULL,
    longitud double precision DEFAULT 0 NOT NULL,
    fecha_utc_modificacion timestamp without time zone DEFAULT (now() AT TIME ZONE 'UTC'::text) NOT NULL
);


ALTER TABLE public.dat_municipios OWNER TO admin;

--
-- Name: dat_municipios_id_municipios_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.dat_municipios ALTER COLUMN id_municipios ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.dat_municipios_id_municipios_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: dat_calles_p1; Type: TABLE ATTACH; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.dat_calles ATTACH PARTITION public.dat_calles_p1 FOR VALUES FROM (MINVALUE) TO (4);


--
-- Name: dat_calles_p2; Type: TABLE ATTACH; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.dat_calles ATTACH PARTITION public.dat_calles_p2 FOR VALUES FROM (4) TO (8);


--
-- Name: dat_calles_p3; Type: TABLE ATTACH; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.dat_calles ATTACH PARTITION public.dat_calles_p3 FOR VALUES FROM (8) TO (12);


--
-- Name: dat_calles_p4; Type: TABLE ATTACH; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.dat_calles ATTACH PARTITION public.dat_calles_p4 FOR VALUES FROM (12) TO (16);


--
-- Name: dat_calles_p5; Type: TABLE ATTACH; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.dat_calles ATTACH PARTITION public.dat_calles_p5 FOR VALUES FROM (16) TO (20);


--
-- Name: dat_calles_p6; Type: TABLE ATTACH; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.dat_calles ATTACH PARTITION public.dat_calles_p6 FOR VALUES FROM (20) TO (24);


--
-- Name: dat_calles_p7; Type: TABLE ATTACH; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.dat_calles ATTACH PARTITION public.dat_calles_p7 FOR VALUES FROM (24) TO (28);


--
-- Name: dat_calles_p8; Type: TABLE ATTACH; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.dat_calles ATTACH PARTITION public.dat_calles_p8 FOR VALUES FROM (28) TO (MAXVALUE);


--
-- Name: dat_calles pk_dat_calles; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.dat_calles
    ADD CONSTRAINT pk_dat_calles PRIMARY KEY (cve_entidades, id_calles);


--
-- Name: dat_calles_p1 dat_calles_p1_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.dat_calles_p1
    ADD CONSTRAINT dat_calles_p1_pkey PRIMARY KEY (cve_entidades, id_calles);


--
-- Name: dat_calles_p2 dat_calles_p2_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.dat_calles_p2
    ADD CONSTRAINT dat_calles_p2_pkey PRIMARY KEY (cve_entidades, id_calles);


--
-- Name: dat_calles_p3 dat_calles_p3_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.dat_calles_p3
    ADD CONSTRAINT dat_calles_p3_pkey PRIMARY KEY (cve_entidades, id_calles);


--
-- Name: dat_calles_p4 dat_calles_p4_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.dat_calles_p4
    ADD CONSTRAINT dat_calles_p4_pkey PRIMARY KEY (cve_entidades, id_calles);


--
-- Name: dat_calles_p5 dat_calles_p5_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.dat_calles_p5
    ADD CONSTRAINT dat_calles_p5_pkey PRIMARY KEY (cve_entidades, id_calles);


--
-- Name: dat_calles_p6 dat_calles_p6_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.dat_calles_p6
    ADD CONSTRAINT dat_calles_p6_pkey PRIMARY KEY (cve_entidades, id_calles);


--
-- Name: dat_calles_p7 dat_calles_p7_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.dat_calles_p7
    ADD CONSTRAINT dat_calles_p7_pkey PRIMARY KEY (cve_entidades, id_calles);


--
-- Name: dat_calles_p8 dat_calles_p8_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.dat_calles_p8
    ADD CONSTRAINT dat_calles_p8_pkey PRIMARY KEY (cve_entidades, id_calles);


--
-- Name: dat_entidades pk_dat_entidades; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.dat_entidades
    ADD CONSTRAINT pk_dat_entidades PRIMARY KEY (cve_entidades);


--
-- Name: dat_localidades pk_dat_localidades; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.dat_localidades
    ADD CONSTRAINT pk_dat_localidades PRIMARY KEY (id_localidades);


--
-- Name: dat_municipios pk_dat_municipios; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.dat_municipios
    ADD CONSTRAINT pk_dat_municipios PRIMARY KEY (id_municipios);


--
-- Name: ix_dc_entidades; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_dc_entidades ON ONLY public.dat_calles USING btree (cve_entidades) INCLUDE (cve_municipios, cve_localidades, latitud, longitud);


--
-- Name: dat_calles_p1_cve_entidades_cve_municipios_cve_localidades__idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX dat_calles_p1_cve_entidades_cve_municipios_cve_localidades__idx ON public.dat_calles_p1 USING btree (cve_entidades) INCLUDE (cve_municipios, cve_localidades, latitud, longitud);


--
-- Name: ix_dat_calles_geom; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_dat_calles_geom ON ONLY public.dat_calles USING gist (geom);


--
-- Name: dat_calles_p1_geom_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX dat_calles_p1_geom_idx ON public.dat_calles_p1 USING gist (geom);


--
-- Name: ix_dat_calles_coords; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_dat_calles_coords ON ONLY public.dat_calles USING btree (latitud, longitud) INCLUDE (calle_avenida_principal, colonia, codigo_postal, cve_entidades, cve_municipios);


--
-- Name: dat_calles_p1_latitud_longitud_calle_avenida_principal_colo_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX dat_calles_p1_latitud_longitud_calle_avenida_principal_colo_idx ON public.dat_calles_p1 USING btree (latitud, longitud) INCLUDE (calle_avenida_principal, colonia, codigo_postal, cve_entidades, cve_municipios);


--
-- Name: dat_calles_p2_cve_entidades_cve_municipios_cve_localidades__idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX dat_calles_p2_cve_entidades_cve_municipios_cve_localidades__idx ON public.dat_calles_p2 USING btree (cve_entidades) INCLUDE (cve_municipios, cve_localidades, latitud, longitud);


--
-- Name: dat_calles_p2_geom_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX dat_calles_p2_geom_idx ON public.dat_calles_p2 USING gist (geom);


--
-- Name: dat_calles_p2_latitud_longitud_calle_avenida_principal_colo_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX dat_calles_p2_latitud_longitud_calle_avenida_principal_colo_idx ON public.dat_calles_p2 USING btree (latitud, longitud) INCLUDE (calle_avenida_principal, colonia, codigo_postal, cve_entidades, cve_municipios);


--
-- Name: dat_calles_p3_cve_entidades_cve_municipios_cve_localidades__idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX dat_calles_p3_cve_entidades_cve_municipios_cve_localidades__idx ON public.dat_calles_p3 USING btree (cve_entidades) INCLUDE (cve_municipios, cve_localidades, latitud, longitud);


--
-- Name: dat_calles_p3_geom_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX dat_calles_p3_geom_idx ON public.dat_calles_p3 USING gist (geom);


--
-- Name: dat_calles_p3_latitud_longitud_calle_avenida_principal_colo_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX dat_calles_p3_latitud_longitud_calle_avenida_principal_colo_idx ON public.dat_calles_p3 USING btree (latitud, longitud) INCLUDE (calle_avenida_principal, colonia, codigo_postal, cve_entidades, cve_municipios);


--
-- Name: dat_calles_p4_cve_entidades_cve_municipios_cve_localidades__idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX dat_calles_p4_cve_entidades_cve_municipios_cve_localidades__idx ON public.dat_calles_p4 USING btree (cve_entidades) INCLUDE (cve_municipios, cve_localidades, latitud, longitud);


--
-- Name: dat_calles_p4_geom_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX dat_calles_p4_geom_idx ON public.dat_calles_p4 USING gist (geom);


--
-- Name: dat_calles_p4_latitud_longitud_calle_avenida_principal_colo_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX dat_calles_p4_latitud_longitud_calle_avenida_principal_colo_idx ON public.dat_calles_p4 USING btree (latitud, longitud) INCLUDE (calle_avenida_principal, colonia, codigo_postal, cve_entidades, cve_municipios);


--
-- Name: dat_calles_p5_cve_entidades_cve_municipios_cve_localidades__idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX dat_calles_p5_cve_entidades_cve_municipios_cve_localidades__idx ON public.dat_calles_p5 USING btree (cve_entidades) INCLUDE (cve_municipios, cve_localidades, latitud, longitud);


--
-- Name: dat_calles_p5_geom_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX dat_calles_p5_geom_idx ON public.dat_calles_p5 USING gist (geom);


--
-- Name: dat_calles_p5_latitud_longitud_calle_avenida_principal_colo_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX dat_calles_p5_latitud_longitud_calle_avenida_principal_colo_idx ON public.dat_calles_p5 USING btree (latitud, longitud) INCLUDE (calle_avenida_principal, colonia, codigo_postal, cve_entidades, cve_municipios);


--
-- Name: dat_calles_p6_cve_entidades_cve_municipios_cve_localidades__idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX dat_calles_p6_cve_entidades_cve_municipios_cve_localidades__idx ON public.dat_calles_p6 USING btree (cve_entidades) INCLUDE (cve_municipios, cve_localidades, latitud, longitud);


--
-- Name: dat_calles_p6_geom_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX dat_calles_p6_geom_idx ON public.dat_calles_p6 USING gist (geom);


--
-- Name: dat_calles_p6_latitud_longitud_calle_avenida_principal_colo_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX dat_calles_p6_latitud_longitud_calle_avenida_principal_colo_idx ON public.dat_calles_p6 USING btree (latitud, longitud) INCLUDE (calle_avenida_principal, colonia, codigo_postal, cve_entidades, cve_municipios);


--
-- Name: dat_calles_p7_cve_entidades_cve_municipios_cve_localidades__idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX dat_calles_p7_cve_entidades_cve_municipios_cve_localidades__idx ON public.dat_calles_p7 USING btree (cve_entidades) INCLUDE (cve_municipios, cve_localidades, latitud, longitud);


--
-- Name: dat_calles_p7_geom_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX dat_calles_p7_geom_idx ON public.dat_calles_p7 USING gist (geom);


--
-- Name: dat_calles_p7_latitud_longitud_calle_avenida_principal_colo_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX dat_calles_p7_latitud_longitud_calle_avenida_principal_colo_idx ON public.dat_calles_p7 USING btree (latitud, longitud) INCLUDE (calle_avenida_principal, colonia, codigo_postal, cve_entidades, cve_municipios);


--
-- Name: dat_calles_p8_cve_entidades_cve_municipios_cve_localidades__idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX dat_calles_p8_cve_entidades_cve_municipios_cve_localidades__idx ON public.dat_calles_p8 USING btree (cve_entidades) INCLUDE (cve_municipios, cve_localidades, latitud, longitud);


--
-- Name: dat_calles_p8_geom_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX dat_calles_p8_geom_idx ON public.dat_calles_p8 USING gist (geom);


--
-- Name: dat_calles_p8_latitud_longitud_calle_avenida_principal_colo_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX dat_calles_p8_latitud_longitud_calle_avenida_principal_colo_idx ON public.dat_calles_p8 USING btree (latitud, longitud) INCLUDE (calle_avenida_principal, colonia, codigo_postal, cve_entidades, cve_municipios);


--
-- Name: dat_calles_p1_cve_entidades_cve_municipios_cve_localidades__idx; Type: INDEX ATTACH; Schema: public; Owner: admin
--

ALTER INDEX public.ix_dc_entidades ATTACH PARTITION public.dat_calles_p1_cve_entidades_cve_municipios_cve_localidades__idx;


--
-- Name: dat_calles_p1_geom_idx; Type: INDEX ATTACH; Schema: public; Owner: admin
--

ALTER INDEX public.ix_dat_calles_geom ATTACH PARTITION public.dat_calles_p1_geom_idx;


--
-- Name: dat_calles_p1_latitud_longitud_calle_avenida_principal_colo_idx; Type: INDEX ATTACH; Schema: public; Owner: admin
--

ALTER INDEX public.ix_dat_calles_coords ATTACH PARTITION public.dat_calles_p1_latitud_longitud_calle_avenida_principal_colo_idx;


--
-- Name: dat_calles_p1_pkey; Type: INDEX ATTACH; Schema: public; Owner: admin
--

ALTER INDEX public.pk_dat_calles ATTACH PARTITION public.dat_calles_p1_pkey;


--
-- Name: dat_calles_p2_cve_entidades_cve_municipios_cve_localidades__idx; Type: INDEX ATTACH; Schema: public; Owner: admin
--

ALTER INDEX public.ix_dc_entidades ATTACH PARTITION public.dat_calles_p2_cve_entidades_cve_municipios_cve_localidades__idx;


--
-- Name: dat_calles_p2_geom_idx; Type: INDEX ATTACH; Schema: public; Owner: admin
--

ALTER INDEX public.ix_dat_calles_geom ATTACH PARTITION public.dat_calles_p2_geom_idx;


--
-- Name: dat_calles_p2_latitud_longitud_calle_avenida_principal_colo_idx; Type: INDEX ATTACH; Schema: public; Owner: admin
--

ALTER INDEX public.ix_dat_calles_coords ATTACH PARTITION public.dat_calles_p2_latitud_longitud_calle_avenida_principal_colo_idx;


--
-- Name: dat_calles_p2_pkey; Type: INDEX ATTACH; Schema: public; Owner: admin
--

ALTER INDEX public.pk_dat_calles ATTACH PARTITION public.dat_calles_p2_pkey;


--
-- Name: dat_calles_p3_cve_entidades_cve_municipios_cve_localidades__idx; Type: INDEX ATTACH; Schema: public; Owner: admin
--

ALTER INDEX public.ix_dc_entidades ATTACH PARTITION public.dat_calles_p3_cve_entidades_cve_municipios_cve_localidades__idx;


--
-- Name: dat_calles_p3_geom_idx; Type: INDEX ATTACH; Schema: public; Owner: admin
--

ALTER INDEX public.ix_dat_calles_geom ATTACH PARTITION public.dat_calles_p3_geom_idx;


--
-- Name: dat_calles_p3_latitud_longitud_calle_avenida_principal_colo_idx; Type: INDEX ATTACH; Schema: public; Owner: admin
--

ALTER INDEX public.ix_dat_calles_coords ATTACH PARTITION public.dat_calles_p3_latitud_longitud_calle_avenida_principal_colo_idx;


--
-- Name: dat_calles_p3_pkey; Type: INDEX ATTACH; Schema: public; Owner: admin
--

ALTER INDEX public.pk_dat_calles ATTACH PARTITION public.dat_calles_p3_pkey;


--
-- Name: dat_calles_p4_cve_entidades_cve_municipios_cve_localidades__idx; Type: INDEX ATTACH; Schema: public; Owner: admin
--

ALTER INDEX public.ix_dc_entidades ATTACH PARTITION public.dat_calles_p4_cve_entidades_cve_municipios_cve_localidades__idx;


--
-- Name: dat_calles_p4_geom_idx; Type: INDEX ATTACH; Schema: public; Owner: admin
--

ALTER INDEX public.ix_dat_calles_geom ATTACH PARTITION public.dat_calles_p4_geom_idx;


--
-- Name: dat_calles_p4_latitud_longitud_calle_avenida_principal_colo_idx; Type: INDEX ATTACH; Schema: public; Owner: admin
--

ALTER INDEX public.ix_dat_calles_coords ATTACH PARTITION public.dat_calles_p4_latitud_longitud_calle_avenida_principal_colo_idx;


--
-- Name: dat_calles_p4_pkey; Type: INDEX ATTACH; Schema: public; Owner: admin
--

ALTER INDEX public.pk_dat_calles ATTACH PARTITION public.dat_calles_p4_pkey;


--
-- Name: dat_calles_p5_cve_entidades_cve_municipios_cve_localidades__idx; Type: INDEX ATTACH; Schema: public; Owner: admin
--

ALTER INDEX public.ix_dc_entidades ATTACH PARTITION public.dat_calles_p5_cve_entidades_cve_municipios_cve_localidades__idx;


--
-- Name: dat_calles_p5_geom_idx; Type: INDEX ATTACH; Schema: public; Owner: admin
--

ALTER INDEX public.ix_dat_calles_geom ATTACH PARTITION public.dat_calles_p5_geom_idx;


--
-- Name: dat_calles_p5_latitud_longitud_calle_avenida_principal_colo_idx; Type: INDEX ATTACH; Schema: public; Owner: admin
--

ALTER INDEX public.ix_dat_calles_coords ATTACH PARTITION public.dat_calles_p5_latitud_longitud_calle_avenida_principal_colo_idx;


--
-- Name: dat_calles_p5_pkey; Type: INDEX ATTACH; Schema: public; Owner: admin
--

ALTER INDEX public.pk_dat_calles ATTACH PARTITION public.dat_calles_p5_pkey;


--
-- Name: dat_calles_p6_cve_entidades_cve_municipios_cve_localidades__idx; Type: INDEX ATTACH; Schema: public; Owner: admin
--

ALTER INDEX public.ix_dc_entidades ATTACH PARTITION public.dat_calles_p6_cve_entidades_cve_municipios_cve_localidades__idx;


--
-- Name: dat_calles_p6_geom_idx; Type: INDEX ATTACH; Schema: public; Owner: admin
--

ALTER INDEX public.ix_dat_calles_geom ATTACH PARTITION public.dat_calles_p6_geom_idx;


--
-- Name: dat_calles_p6_latitud_longitud_calle_avenida_principal_colo_idx; Type: INDEX ATTACH; Schema: public; Owner: admin
--

ALTER INDEX public.ix_dat_calles_coords ATTACH PARTITION public.dat_calles_p6_latitud_longitud_calle_avenida_principal_colo_idx;


--
-- Name: dat_calles_p6_pkey; Type: INDEX ATTACH; Schema: public; Owner: admin
--

ALTER INDEX public.pk_dat_calles ATTACH PARTITION public.dat_calles_p6_pkey;


--
-- Name: dat_calles_p7_cve_entidades_cve_municipios_cve_localidades__idx; Type: INDEX ATTACH; Schema: public; Owner: admin
--

ALTER INDEX public.ix_dc_entidades ATTACH PARTITION public.dat_calles_p7_cve_entidades_cve_municipios_cve_localidades__idx;


--
-- Name: dat_calles_p7_geom_idx; Type: INDEX ATTACH; Schema: public; Owner: admin
--

ALTER INDEX public.ix_dat_calles_geom ATTACH PARTITION public.dat_calles_p7_geom_idx;


--
-- Name: dat_calles_p7_latitud_longitud_calle_avenida_principal_colo_idx; Type: INDEX ATTACH; Schema: public; Owner: admin
--

ALTER INDEX public.ix_dat_calles_coords ATTACH PARTITION public.dat_calles_p7_latitud_longitud_calle_avenida_principal_colo_idx;


--
-- Name: dat_calles_p7_pkey; Type: INDEX ATTACH; Schema: public; Owner: admin
--

ALTER INDEX public.pk_dat_calles ATTACH PARTITION public.dat_calles_p7_pkey;


--
-- Name: dat_calles_p8_cve_entidades_cve_municipios_cve_localidades__idx; Type: INDEX ATTACH; Schema: public; Owner: admin
--

ALTER INDEX public.ix_dc_entidades ATTACH PARTITION public.dat_calles_p8_cve_entidades_cve_municipios_cve_localidades__idx;


--
-- Name: dat_calles_p8_geom_idx; Type: INDEX ATTACH; Schema: public; Owner: admin
--

ALTER INDEX public.ix_dat_calles_geom ATTACH PARTITION public.dat_calles_p8_geom_idx;


--
-- Name: dat_calles_p8_latitud_longitud_calle_avenida_principal_colo_idx; Type: INDEX ATTACH; Schema: public; Owner: admin
--

ALTER INDEX public.ix_dat_calles_coords ATTACH PARTITION public.dat_calles_p8_latitud_longitud_calle_avenida_principal_colo_idx;


--
-- Name: dat_calles_p8_pkey; Type: INDEX ATTACH; Schema: public; Owner: admin
--

ALTER INDEX public.pk_dat_calles ATTACH PARTITION public.dat_calles_p8_pkey;


--
-- PostgreSQL database dump complete
--

